.wrapper {
    padding: 20px;
}

.wrapper>*{margin: 30px;}

.imac {
    display: inline-block;
/*    width: 370px;*/
    height: 298px;
    position: relative;
}

.imac .grey {
    width: 370px;
    height: 257px;
    border-radius: 7px;
    background-color: #d1d1d0;
    position: relative;
    z-index: 1000;
}

.imac .grey .black {
    height: 223px;
/*    width: 100%;*/
    background-color: #000;
/*    z-index: 1;*/
    position: absolute;
/*    top: 0;*/
/*    left: 0;*/
    border-radius: 7px 7px 0 0px;
}

.imac .grey .black .white {
    background-color: #ebebeb;
    width: 342px;
    height: 196px;
    margin: 15px;
}

.imac .circle {
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    left: 180px;
}

.imac .foot {
    position: absolute;
    bottom: 10px;
    left: 120px;
    border-bottom: 33px solid #c2c2c2;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
/*    height: 0;*/
    width: 100px;
}

.imac .bk {
    position: absolute;
    bottom: 0px;
    left: 90px;
    border-bottom: 10px solid #d1d1d0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    height: 0;
    width: 130px;
    box-shadow: 0 7px 0 0px #c1c1c0;
}

.macbook {
    display: inline-block;
    position: relative;
    height: 235px;
    width: 345px;
   
}

.macbook .screen {
    width: 345px;
    height: 225px;
    background-color: #000;
    border-radius: 7px 7px 0 0px;
    position: absolute;
    left: 22px;
}

.macbook .white {
    background-color: #ebebeb;
    width: 315px;
    height: 195px;
    margin: 15px;
    position: absolute;
}

.macbook .keyboard {
    width: 390px;
    height: 10px;
    background-color: #d1d1d0;
    position: absolute;
    bottom: 0;
    border-radius: 1px;
}

.keyboard .grey {
    border-top: 5px solid #adacad;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 65px;
    margin: 0 auto;
}

.macbook .key-shadow {
    border-top: 5px solid #c1c1c0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    width: 370px;
    height: 7px;
    position: absolute;
    bottom: -12px;
}

.pad {
    display: inline-block;
    background-color: #000;
    width: 170px;
    height: 230px;
    border-radius: 26px;
}

.pad .dot {
    background-color: #7d7d7d;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    margin: 8px auto 0;
}

.pad .screen {
    width: 140px;
    height: 190px;
    margin: 10px 15px 7px;
    background-color: #ebebeb;
    border-radius: 3px;
}

.pad .button {
    width: 15px;
    height: 5px;
    border-radius: 3px;
    background-color: #7d7d7d;
    margin: 0px auto;
}

.ipod {

    display: inline-block;
    width: 44px;
    height: 44px;
    background-color: #000;
    border-radius: 2px;
    position: relative;
}

.ipod .screen {
    width: 30px;
    height: 30px;
    margin: 7px auto;
    background-color: #ebebeb;
    border-radius: 1px;
}

.ipod .block1 {
    width: 6px;
    height: 14px;
    background-color: #000;
    position: absolute;
    top: -14px;
    right: 6px;
}

.ipod .block2 {
    width: 2px;
    height: 10px;
    background-color: #000;
    position: absolute;
    top: -24px;
    right: 8px;
}

.ipod .block3 {
    width: 20px;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: -24px;
    right: -10px;
}

.ipod .block4 {
    width: 2px;
    height: 77px;
    background-color: #000;
    position: absolute;
    top: -24px;
    right: -10px;
}

.ipod .block5 {
    width: 20px;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    right: -28px;
}

.ipod .block6 {
    width: 2px;
    height: 56px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    right: -28px;
}

.ipod .block7 {
    width: 2px;
    height: 18px;
    background-color: #000;
    position: absolute;
    top: 14px;
    right: -34px;
    transform: rotate(45deg);
}

.ipod .pimp {
    width: 6px;
    height: 6px;
    background-color: #000;
    position: absolute;
    top: -4px;
    right: -30px;
}

.ipod .pimp-t {
    width: 6px;
    height: 6px;
    background-color: #000;
    position: absolute;
    top: 14px;
    right: -42px;
    transform: rotate(45deg);
}

.ipod .head {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: -18px;
    right: -35px;
}

.ipod .head-t {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 2px;
    right: -54px;
}

.phone {
    display: inline-block;
    width: 70px;
    height: 125px;
    background-color: #000;
    border-radius: 3px;
}

.phone .screen {
    width: 58px;
    height: 100px;
    background-color: #ebebeb;
    margin: 9px auto 0;
    border-radius: 1px;
}

.phone .button {
    width: 15px;
    height: 5px;
    border-radius: 3px;
    background-color: #7d7d7d;
    margin: 6px auto;
}

.iphone {
    display: inline-block;
    width: 120px;
    height: 230px;
    background-color: #000;
    border-radius: 15px;
}

.iphone .din {
    width: 20px;
    height: 5px;
    border-radius: 2px;
    background-color: #141414;
    margin: 15px auto 0;
}

.iphone .screen {
    width: 100px;
    height: 150px;
    background-color: #ebebeb;
    margin: 15px auto 0;
}

.iphone .button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #141414;
    margin: 13px auto 0;
}

.flash {
    display: inline-block;
    width: 75px;
    height: 45px;
    background-color: #000;
    border-radius: 5px 0 0 5px;
    position: relative;
}

.flash .usb {
    width: 20px;
    height: 34px;
    background-color: #cecdcd;
    position: absolute;
    right: -20px;
    top: 6px;
}

.flash:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 3px solid #000;
    position: absolute;
    left: -6px;
    top: 10px;
}

.flash .usb:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #a9a8a8;
    position: absolute;
    left: 6px;
    top: 6px;
}

.flash .usb:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #a9a8a8;
    position: absolute;
    left: 6px;
    bottom: 6px;
}

.iphone-mini {
    width: 90px;
    height: 175px;
    display: inline-block;
    background-color: #ebebeb;
    border-radius: 15px;
 
}

.iphone-mini .din {
    width: 18px;
    height: 4px;
    border-radius: 2px;
    background-color: #818181;
    margin: 13px auto 0;
}

.iphone-mini .screen {
    width: 77px;
    height: 115px;
    background-color: #acacac;
    margin: 12px auto 0;
}

.iphone-mini .button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #818181;
    margin: 8px auto 0;
}

.ipad {
    display: inline-block;
    background-color: #000;
    width: 195px;
    height: 290px;
    border-radius: 10px;
}

.ipad .dot {
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: #161616;
    margin: 13px auto 0;
}

.ipad .screen {
    width: 173px;
    height: 233px;
    margin: 10px auto 0;
    background-color: #ebebeb;
}

.ipad .button {
    width: 15px;
    height: 15px;
    margin: 9px auto 0;
    border-radius: 50%;
    background-color: #161616;
}

.phone-w {
    display: inline-block;
  
    width: 90px;
    height: 150px;
    background-color: #ebebeb;
    border-radius: 4px;
}

.phone-w .screen {
    width: 70px;
    height: 120px;
    border-radius: 2px;
    background-color: #cecdcd;
    margin: 9px auto 0;
}

.phone-w .button {
    width: 16px;
    height: 7px;
    border-radius: 2px;
    background-color: #acacac;
    margin: 6px auto 0;
}

.photo {
    display: inline-block;
  
    width: 230px;
    height: 135px;
    background-color: #000;
    border-radius: 6px;
    position: relative;
}

.photo .grey {
    height: 15px;
    width: 100%;
    background-color: #cecdcd;
    position: absolute;
}

.photo .g-top {
    top: 0;
    border-radius: 6px 6px 0 0;
}

.photo .g-bottom {
    bottom: 0;
    border-radius: 0 0 6px 6px;
}

.photo .obj {
    width: 94px;
    height: 94px;
    border-radius: 50%;
    border: 12px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px auto 0;
}

.photo .obj .circle {
    width: 50px;
    height: 50px;
    background-color: #555;
    border-radius: 50%;
    margin: 10px;
}

.photo .button {
    position: absolute;
    top: -7px;
    border-bottom: 7px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    height: 0;
    width: 25px;
}

.photo .btn-left {
    left: 20px;
}

.photo .btn-right {
    right: 20px;
}

.photo .flashlight {
    position: absolute;
    top: -24px;
    left: 65px;
    border-bottom: 24px solid #000;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    height: 0;
    width: 85px;
}

.photo .flashlight .light {
    width: 60px;
    height: 10px;
    background-color: #ebebeb;
    border-radius: 6px;
    margin: 8px auto;
}

.mouse {
    display: inline-block;

    width: 75px;
    height: 130px;
    background-color: #ebebeb;
    border-radius: 30px;
    position: relative;
}

.mouse .grey {
    width: 100%;
    height: 55px;
    background-color: #cecdcd;
    border-radius: 30px 30px 18px 18px;
    padding-top: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mouse .grey .black {
    width: 10px;
    height: 40px;
    background-color: #000;
    border-radius: 5px;
    margin: 0 auto;
}

.mouse .block1 {
    width: 6px;
    height: 25px;
    background-color: #000;
    position: absolute;
    top: -25px;
    left: 35px;
}

.mouse .block2 {
    width: 75px;
    height: 6px;
    background-color: #000;
    position: absolute;
    top: -25px;
    left: -35px;
}

.mouse .block3 {
    width: 6px;
    height: 120px;
    background-color: #000;
    position: absolute;
    top: -25px;
    left: -35px;
}

.hab {
    width: 16px;
    height: 25px;
    background-color: #000;
    bottom: 13px;
    left: -40px;
    position: absolute;
    border-radius: 8px 8px 0 0;
}

.mouse .usb {
    width: 10px;
    height: 6px;
    background-color: #acacac;
    position: absolute;
    left: -37px;
    bottom: 7px;
}

.ipod-big {
    display: inline-block;
    
    width: 90px;
    height: 170px;
    background-color: #000;
    border-radius: 10px;
}

.ipod-big .screen {
    width: 72px;
    height: 62px;
    margin: 10px auto 0;
    background-color: #ebebeb;
}

.ipod-big .circle {
    width: 60px;
    height: 60px;
    background-color: #7c7c7c;
    border-radius: 50%;
    margin: 15px auto 0;
    border: 17px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.gameboy {
    display: inline-block;

    width: 160px;
    height: 80px;
    background-color: #ebebeb;
    border-radius: 35px;
    position: relative;
}

.gameboy .screen {
    width: 75px;
    height: 60px;
    background-color: #000;
    border-radius: 3px;
    margin: 10px auto 0;
}

.gameboy .black {
    width: 8px;
    height: 8px;
    background-color: #000;
    position: absolute;
}

.gameboy .bl-top {
    top: 40px;
    left: 20px;
}

.gameboy .bl-top:after {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 5px;
    left: 1px;
}

.gameboy .bl-left {
    top: 32px;
    left: 29px;
}

.gameboy .bl-left:after {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    bottom: 1px;
    right: 5px;
}

.gameboy .bl-bottom {
    top: 24px;
    left: 20px;
}

.gameboy .bl-bottom:after {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 1px;
}

.gameboy .bl-right {
    top: 32px;
    left: 11px;
}

.gameboy .bl-right:after {
    content: '';
    display: inline-block;
    background-color: #000;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    position: absolute;
    top: 1px;
    left: 5px;
}

.gameboy .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #acacac;
    position: absolute;
}

.gameboy .c-top {
    top: 27px;
    right: 17px;
}

.gameboy .c-right {
    top: 35px;
    right: 9px;
}

.gameboy .c-bottom {
    top: 42px;
    right: 17px;
}

.gameboy .c-left {
    top: 35px;
    right: 25px;
}

.battary {
    width: 40px;
    height: 65px;
    display: inline-block;
    background-color: #000;
    border-radius: 3px;
    position: relative;
    border: 4px solid #000;
    box-sizing: border-box;
}

.battary .pimp {
    width: 16px;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: -8px;
    border-radius: 1px 1px 0 0;
    left: 8px;
}

.mod {
    background-color: #ebebeb;
    width: 32px;
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 2px 2px;
}

.mod:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 15px solid #ebebeb;
    border-left: 32px solid transparent;
    top: -15px;
    position: absolute;
}

.bt-1 .mod {
    height: 35px;
}

.bt-2 .mod {
    height: 12px;
}

.tringl {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 21px solid #ebebeb;
    border-left: 9px solid transparent;
    position: absolute;
    top: 7px;
    left: 9px;
}

.tr-bt {
    transform: rotate(180deg);
    top: 28px;
    left: 14px;
}